{% if page.layout == "episode" %}
  <div class="container pb-4 mb-5">
  {% endif %}
  {% if page.layout == "home" %}
  <div class="container border-bottom pb-4 mb-5">
  {% endif %}
  <div class="row">
    <div class="col-sm-12">
      {% if page.layout == "home" %}
        <h2 class="mb-4">Subscribe</h2>
      {% endif %}
      <div class="card-group">
        {% for subscribe in site.data.subscribe.docs %}
          <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 d-flex align-items-stretch">
            <div class="card mx-2 mb-3 drop-shadow2">
              <div class="card-body text-center">
                <i class="{{ subscribe.icon }} fa-3x drop-shadow3 mt-2 mb-4"></i>
                <h3 class="h5">
                  <a href="{{ subscribe.url }}" class="stretched-link link-primary link-underline-opacity-0 link-underline-opacity-0-hover">
                    {{ subscribe.title }}
                  </a>
                </h3>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>